# USing Artificial Neural Network

In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt 

# sklearn imports
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc

# keras imports
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.utils import to_categorical

In [2]:
df=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documents\Data set\FakeNote.csv")

In [3]:
df.head(3)

     VWTI     SWTI     CWTI       EI  Class
0  2.2634  -4.4862   3.6558 -0.61251      0
1  3.2718   1.7837   2.1161  0.61334      0
2 -3.9411 -12.8792  13.0597 -3.31250      1

In [4]:
df.shape

(1096, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VWTI    1096 non-null   float64
 1   SWTI    1096 non-null   float64
 2   CWTI    1096 non-null   float64
 3   EI      1096 non-null   float64
 4   Class   1096 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 42.9 KB

In [6]:
df.isnull().sum()

VWTI     0
SWTI     0
CWTI     0
EI       0
Class    0
dtype: int64

In [7]:
X=df.drop("Class",axis=1)
y=df['Class']
X

          VWTI     SWTI      CWTI        EI
0     2.263400  -4.4862   3.65580 -0.612510
1     3.271800   1.7837   2.11610  0.613340
2    -3.941100 -12.8792  13.05970 -3.312500
3     0.519500  -3.2633   3.08950 -0.984900
4     2.569800  -4.4076   5.98560  0.078002
...        ...      ...       ...       ...
1091  1.640600   3.5488   1.39640 -0.364240
1092 -0.048008  -1.6037   8.47560  0.755580
1093  2.942100   7.4101  -0.97709 -0.884060
1094  1.964700   6.9383   0.57722  0.663770
1095 -0.126240  10.3216  -3.71210 -6.118500

[1096 rows x 4 columns]

In [10]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Further split training data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

# Ensure target is in binary format (0 or 1 for binary classification)
# No need for one-hot encoding in binary classification
y_train = y_train.values
y_val = y_val.values
y_test = y_test.values

In [11]:
# Check shapes
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_val shape: {X_val.shape}, y_val shape: {y_val.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_train shape: (700, 4), y_train shape: (700,)
X_val shape: (176, 4), y_val shape: (176,)
X_test shape: (220, 4), y_test shape: (220,)

## Build the Ann Model