In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from keras import layers
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
df=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documents\Data set\IMDB Dataset.csv")
df=df.sample(n=5000).reset_index(drop=True)
df.head()

                                              review sentiment
0  This is possibly the worst film I've ever seen...  negative
1  Leonard Rossiter and Frances de la Tour carry ...  negative
2  Sam Kleinman (Peter Falk) comes to his son's p...  positive
3  This was the best Muppet movie I've seen ever!...  positive
4  I'll make this brief. This was a joy to watch....  positive

# preprocessing

In [3]:

import re
import html
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

# Initialize the stemmer and stopwords list
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

def clean_review_with_stopwords_and_stemming(review):
    # Decode HTML entities (like <br /> to actual line breaks)
    review = html.unescape(review)

    # Remove HTML tags (e.g., <br />)
    review = re.sub(r'<.*?>', '', review)

    # Convert to lowercase
    review = review.lower()

    # Remove non-alphabetic characters and digits
    review = re.sub(r'[^a-z\s]', '', review)

    # Tokenization: Split the review into words
    words = review.split()

    # Remove stopwords and apply stemming
    cleaned_words = [stemmer.stem(word) for word in words if word not in stop_words]

    # Rejoin the words back into a cleaned string
    cleaned_review = ' '.join(cleaned_words)

    return cleaned_review

# Assuming df is your DataFrame with reviews
df['review'] = df['review'].apply(clean_review_with_stopwords_and_stemming)

df

                                                 review sentiment
0     possibl worst film ive ever seen fact flimsi s...  negative
1     leonard rossit franc de la tour carri film wit...  negative
2     sam kleinman peter falk come son place unexpec...  positive
3     best muppet movi ive seen ever happen know mis...  positive
4     ill make brief joy watch may may effect charac...  positive
...                                                 ...       ...
4995  grew scoobi doo still love one favourit cartoo...  negative
4996  terenc stamp carri anyth still shallow onedime...  negative
4997  r balki tri tell stori earlier told ram gopal ...  negative
4998  we craven creat success killerthril movi time ...  positive
4999  gener like movi lot anim suprem mean took trou...  positive

[5000 rows x 2 columns]

# ENcoding

In [4]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['sentiment'] = encoder.fit_transform(df['sentiment'])
df.head()

                                              review  sentiment
0  possibl worst film ive ever seen fact flimsi s...          0
1  leonard rossit franc de la tour carri film wit...          0
2  sam kleinman peter falk come son place unexpec...          1
3  best muppet movi ive seen ever happen know mis...          1
4  ill make brief joy watch may may effect charac...          1

# Train and Test

In [ ]:
RANDOM_STATE = 42
text_train, text_test, y_train, y_test = train_test_split(df['review'], df['sentiment'], test_size=0.1, random_state=RANDOM_STATE)